body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

#cabecera{
    background-color: blue;
    color: white;
    box-shadow: 0px 2px 20px 0px gray;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #000000;
    margin: 0 auto;
}

#container h1{
    font-size: 30px;
}